<% if session[:message] %>
  <div class="alert alert-danger">
    <%= session[:message] %>
  </div>
<% end %>
<div id="board">

  <% row = col = 0 %>
  <% 0.upto(2) do |row| %>
  <div class="row ">
    <% 0.upto(2) do |col| %>
    <div class="col-3 text-center h1 border-primary
                <%= 'border-bottom' if row != 2 %>
                <%= 'border-right' if col != 2 %>">
      <% square_num = row * 3 + col %>
      <%= if (val = @game.board[square_num]).empty? then square_num else val end %>
    </div>
    <% end %>
  </div>
  <% end %>
</div>

<form method="post" action="/move">
  <p><%= @game.turn %>'s move</p>
  <p>Enter square 0-8</p>
  <input type="text" name="square">
  <input type="submit" value="Make Move">
</form>
