<% if session[:message] %>
  <div class="alert alert-danger">
    <%= session[:message] %>
  </div>
<% end %>

<div id="board">
  <% row = col = 0 %>
  <% 0.upto(2) do |row| %>
  <div class="row">
    <% 0.upto(2) do |col| %>
    <div class="col-3 text-center h1">
      <div class="border-primary <%= 'border-bottom' if row!=2 %> <%= 'border-left' if col!=0 %>">
        <% square_num = row * 3 + col %>
        <%= if (val = @game.board[square_num]).empty? then square_num else val end %>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>

<!-- Try adjusting the addtributes like class, required, etc. to see how the HTML changes -->
<form method="post" action="/move" class="col-4">
  <h2><%= @game.turn %>'s move</h2>
  <label for="square" class="form-control-label">Enter square 0-8</label>
  <input
    min="0"
    max="8"
    required="true"
    type="number"
    name="square"
    id="square"
    class="form-control mb-2">
  <input type="submit" value="Make Move" class="btn btn-primary">
</form>
